# L9B How stable is the hotel price - distance to center relationship?

In [1]:
import os
import sys
import warnings

import numpy as np
import pandas as pd
from mizani.formatters import percent_format
from plotnine import *
import statsmodels.formula.api as smf
from stargazer.stargazer import Stargazer
from IPython.core.display import HTML

warnings.filterwarnings("ignore")

In [2]:
# Current script folder
current_path = os.getcwd()
dirname = current_path.split("da_case_studies")[0]

# location folders
data_in = dirname + "da_data_repo/hotels-europe/clean/"
data_out = dirname + "da_case_studies/ch09-hotels-europe-stability/"
output = dirname + "da_case_studies/ch09-hotels-europe-stability/output/"
func = dirname + "da_case_studies/ch00-tech-prep/"
sys.path.append(func)

In [3]:
# Import the prewritten helper functions
from py_helper_functions import *

In [4]:
# load in clean and tidy data and create workfile
hotels_europe_price = pd.read_csv(os.path.join("hotels-europe_price.csv"))
hotels_europe_features = pd.read_csv(
    os.path.join("hotels-europe_features.csv")
)

In [5]:
data = pd.merge(hotels_europe_price, hotels_europe_features, on="hotel_id", how="left")

In [6]:
# filter a few cities
data = data.loc[data["city_actual"].isin(["Vienna", "Amsterdam", "Barcelona"])]

In [7]:
data = data.loc[data["accommodation_type"].isin(["Hotel", "Apartment"])]

In [8]:
# drop long stay , 1000E+
data = data[data["nnights"] != 4]
data = data[data["price"] < 1000]

In [9]:
# check for duplicates
data = data.drop_duplicates()

In [10]:
# filter for days
data.loc[(data["month"] == 11) & (data["weekend"] == 0), "date"] = "2017-NOV-weekday"
data.loc[(data["month"] == 11) & (data["weekend"] == 1), "date"] = "2017-NOV-weekend"
data.loc[(data["month"] == 12) & (data["holiday"] == 1), "date"] = "2017-DEC-holiday"
data.loc[(data["month"] == 6) & (data["weekend"] == 1), "date"] = "2018-JUNE-weekend"

In [11]:
data = data[data["date"].notna()]

In [12]:
data["city"].value_counts()

Barcelona    1564
Vienna       1326
Amsterdam     830
Name: city, dtype: int64

In [13]:
pd.crosstab(index=data["accommodation_type"], columns=data["city"])

city                Amsterdam  Barcelona  Vienna
accommodation_type
Apartment                  31        300     457
Hotel                     799       1264     869

In [14]:
pd.crosstab(index=data["date"], columns=data["city"])

city               Amsterdam  Barcelona  Vienna
date
2017-DEC-holiday         290        420     338
2017-NOV-weekday         315        452     377
2017-NOV-weekend         125        393     256
2018-JUNE-weekend        100        299     355

In [15]:
data["lnprice"] = np.log(data["price"])

In [16]:
data = data.filter(
    [
        "hotel_id",
        "date",
        "city",
        "accommodation_type",
        "stars",
        "rating",
        "distance",
        "price",
        "lnprice",
    ]
)

In [17]:
data.to_csv(os.path.join("hotels_work.csv"), index=False)

In [18]:
data = data.loc[
    (data["stars"] >= 3)
    & (data["stars"] <= 4)
    & (data["accommodation_type"] == "Hotel")
    & (data["city"] == "Vienna")
]

In [19]:
data["date"].value_counts()

2017-NOV-weekday     207
2017-DEC-holiday     189
2018-JUNE-weekend    181
2017-NOV-weekend     125
Name: date, dtype: int64

In [20]:
data[["distance", "price", "lnprice"]].describe().round(2)

       distance   price  lnprice
count    702.00  702.00   702.00
mean       1.57  122.75     4.74
std        1.15   53.30     0.37
min        0.00   50.00     3.91
25%        0.80   86.00     4.45
50%        1.40  109.00     4.69
75%        1.90  144.00     4.97
max        6.60  491.00     6.20

In [21]:
data.groupby("date")["distance"].describe().round(3)

                   count   mean    std  min  25%  50%  75%  max
date
2017-DEC-holiday   189.0  1.503  1.060  0.0  0.8  1.3  1.9  5.2
2017-NOV-weekday   207.0  1.530  1.162  0.0  0.8  1.3  1.9  6.6
2017-NOV-weekend   125.0  1.773  1.298  0.0  0.9  1.6  2.1  6.6
2018-JUNE-weekend  181.0  1.531  1.130  0.0  0.8  1.3  1.9  6.6

In [22]:
data.groupby("date")["price"].describe().round(3)

                   count     mean     std   min   25%    50%    75%    max
date
2017-DEC-holiday   189.0  116.492  46.308  57.0  85.0  103.0  138.0  386.0
2017-NOV-weekday   207.0  109.976  42.221  50.0  82.0  100.0  129.5  383.0
2017-NOV-weekend   125.0  149.144  76.531  60.0  92.0  132.0  180.0  491.0
2018-JUNE-weekend  181.0  125.674  45.054  59.0  94.0  111.0  154.0  297.0

In [23]:
data.groupby("date")["lnprice"].describe().round(3)

                   count   mean    std    min    25%    50%    75%    max
date
2017-DEC-holiday   189.0  4.697  0.335  4.043  4.443  4.635  4.927  5.956
2017-NOV-weekday   207.0  4.640  0.337  3.912  4.407  4.605  4.864  5.948
2017-NOV-weekend   125.0  4.902  0.438  4.094  4.522  4.883  5.193  6.196
2018-JUNE-weekend  181.0  4.776  0.334  4.078  4.543  4.710  5.037  5.694

In [24]:
## Regression with splines

### Table 9.3 External validity – comparing dates

In [25]:
dates = [
    "2017-NOV-weekday",
    "2017-NOV-weekend",
    "2017-DEC-holiday",
    "2018-JUNE-weekend",
]

In [26]:
models = []
for date in dates:
    models.append(
        smf.ols(
            "lnprice ~ lspline(distance,2)", data=data.loc[lambda x: x["date"] == date]
        ).fit(cov_type="HC1")
    )

In [27]:
stargazer = Stargazer(models)
stargazer.covariate_order(
    ["lspline(distance, 2)[0]", "lspline(distance, 2)[1]", "Intercept"]
)
stargazer.rename_covariates(
    {
        "Intercept": "Constant",
        "lspline(distance, 2)[0]": "Distance spline <2",
        "lspline(distance, 2)[1]": "Distance spline 2–7",
    }
)
stargazer.custom_columns(dates, [1, 1, 1, 1])
stargazer.show_model_numbers(False)
HTML(stargazer.render_html())

### Table 9.4 External validity – comparing dates 2

In [28]:
data["hotelcount"] = data.groupby("hotel_id")["city"].transform("count")

In [29]:
data["hotelcount"].value_counts().sort_index()

1      9
2     64
3    237
4    392
Name: hotelcount, dtype: int64

In [30]:
models = []
for date in dates:
    models.append(
        smf.ols(
            "lnprice ~ lspline(distance,2)",
            data=data.loc[lambda x: (x["date"] == date) & (x["hotelcount"] == 4)],
        ).fit(cov_type="HC1")
    )

In [31]:
stargazer = Stargazer(models)
stargazer.covariate_order(
    ["lspline(distance, 2)[0]", "lspline(distance, 2)[1]", "Intercept"]
)
stargazer.rename_covariates(
    {
        "Intercept": "Constant",
        "lspline(distance, 2)[0]": "Distance spline <2",
        "lspline(distance, 2)[1]": "Distance spline 2–7",
    }
)
stargazer.custom_columns(dates, [1, 1, 1, 1])
stargazer.show_model_numbers(False)
HTML(stargazer.render_html())

### Table 9.5 External validity – comparing cities

In [32]:
data = pd.read_csv(os.path.join("hotels_work.csv"), index_col=0)

In [33]:
data = data.loc[
    lambda x: (x["stars"] >= 3)
    & (x["stars"] <= 4)
    & (x["date"] == "2017-NOV-weekday")
    & (x["accommodation_type"] == "Hotel")
]

In [34]:
pd.crosstab(index=data["city"], columns=data["stars"])

stars      3.0  3.5  4.0
city
Amsterdam  103   17   75
Barcelona  101    4  144
Vienna      82   14  111

In [35]:
data.groupby("stars")["distance"].describe()

       count      mean       std  min  25%  50%   75%  max
stars
3.0    286.0  1.360140  1.127060  0.1  0.6  1.0  1.80  6.6
3.5     35.0  1.654286  1.152578  0.1  0.9  1.6  2.05  5.3
4.0    330.0  1.381818  1.058173  0.0  0.6  1.1  1.80  6.0

In [36]:
data.groupby("price")["distance"].describe()

       count  mean       std  min    25%   50%    75%  max
price
50       1.0  3.90       NaN  3.9  3.900  3.90  3.900  3.9
51       1.0  0.50       NaN  0.5  0.500  0.50  0.500  0.5
52       2.0  2.25  1.202082  1.4  1.825  2.25  2.675  3.1
54       2.0  1.55  0.636396  1.1  1.325  1.55  1.775  2.0
56       1.0  3.70       NaN  3.7  3.700  3.70  3.700  3.7
...      ...   ...       ...  ...    ...   ...    ...  ...
312      1.0  0.50       NaN  0.5  0.500  0.50  0.500  0.5
324      1.0  0.30       NaN  0.3  0.300  0.30  0.300  0.3
342      1.0  0.30       NaN  0.3  0.300  0.30  0.300  0.3
383      1.0  1.90       NaN  1.9  1.900  1.90  1.900  1.9
690      1.0  1.80       NaN  1.8  1.800  1.80  1.800  1.8

[160 rows x 8 columns]

In [37]:
data.groupby("price")["distance"].describe()

       count  mean       std  min    25%   50%    75%  max
price
50       1.0  3.90       NaN  3.9  3.900  3.90  3.900  3.9
51       1.0  0.50       NaN  0.5  0.500  0.50  0.500  0.5
52       2.0  2.25  1.202082  1.4  1.825  2.25  2.675  3.1
54       2.0  1.55  0.636396  1.1  1.325  1.55  1.775  2.0
56       1.0  3.70       NaN  3.7  3.700  3.70  3.700  3.7
...      ...   ...       ...  ...    ...   ...    ...  ...
312      1.0  0.50       NaN  0.5  0.500  0.50  0.500  0.5
324      1.0  0.30       NaN  0.3  0.300  0.30  0.300  0.3
342      1.0  0.30       NaN  0.3  0.300  0.30  0.300  0.3
383      1.0  1.90       NaN  1.9  1.900  1.90  1.900  1.9
690      1.0  1.80       NaN  1.8  1.800  1.80  1.800  1.8

[160 rows x 8 columns]

In [38]:
cities = ["Vienna", "Amsterdam", "Barcelona"]

In [39]:
models = []
for city in cities:
    models.append(
        smf.ols(
            "lnprice ~ lspline(distance,2)", data=data.loc[lambda x: x["city"] == city]
        ).fit(cov_type="HC1")
    )

In [40]:
stargazer = Stargazer(models)
stargazer.covariate_order(
    ["lspline(distance, 2)[0]", "lspline(distance, 2)[1]", "Intercept"]
)
stargazer.rename_covariates(
    {
        "Intercept": "Constant",
        "lspline(distance, 2)[0]": "Distance spline <2",
        "lspline(distance, 2)[1]": "Distance spline 2–7",
    }
)
stargazer.custom_columns(cities, [1, 1, 1])
stargazer.show_model_numbers(False)
HTML(stargazer.render_html())

### Table 9.6 External validity – accommodation types

In [41]:
data = pd.read_csv(os.path.join("hotels_work.csv"), index_col=0)

In [42]:
data = data.loc[
    lambda x: (x["stars"] >= 3)
    & (x["stars"] <= 4)
    & (x["date"] == "2017-NOV-weekday")
    & (x["city"] == "Vienna")
]

In [43]:
pd.crosstab(index=data["accommodation_type"], columns=data["stars"])

stars               3.0  3.5  4.0
accommodation_type
Apartment            34   41   17
Hotel                82   14  111

In [44]:
data.groupby("stars")["distance"].describe()

       count      mean       std  min   25%   50%   75%  max
stars
3.0    116.0  1.850862  1.300468  0.1  0.90  1.55  2.30  6.9
3.5     55.0  1.372727  1.122242  0.1  0.35  1.40  1.75  5.1
4.0    128.0  1.303125  1.033908  0.0  0.50  1.00  1.70  4.8

In [45]:
data.groupby("price")["distance"].describe()

       count  mean       std  min    25%   50%    75%  max
price
50       1.0  3.90       NaN  3.9  3.900  3.90  3.900  3.9
52       1.0  3.10       NaN  3.1  3.100  3.10  3.100  3.1
54       2.0  1.55  0.636396  1.1  1.325  1.55  1.775  2.0
56       2.0  3.10  0.848528  2.5  2.800  3.10  3.400  3.7
58       2.0  1.40  0.000000  1.4  1.400  1.40  1.400  1.4
...      ...   ...       ...  ...    ...   ...    ...  ...
355      1.0  1.60       NaN  1.6  1.600  1.60  1.600  1.6
363      1.0  1.50       NaN  1.5  1.500  1.50  1.500  1.5
364      2.0  0.40  0.282843  0.2  0.300  0.40  0.500  0.6
383      1.0  1.90       NaN  1.9  1.900  1.90  1.900  1.9
511      1.0  0.50       NaN  0.5  0.500  0.50  0.500  0.5

[126 rows x 8 columns]

In [46]:
data.groupby("lnprice")["distance"].describe()

          count  mean       std  min    25%   50%    75%  max
lnprice
3.912023    1.0  3.90       NaN  3.9  3.900  3.90  3.900  3.9
3.951244    1.0  3.10       NaN  3.1  3.100  3.10  3.100  3.1
3.988984    2.0  1.55  0.636396  1.1  1.325  1.55  1.775  2.0
4.025352    2.0  3.10  0.848528  2.5  2.800  3.10  3.400  3.7
4.060443    2.0  1.40  0.000000  1.4  1.400  1.40  1.400  1.4
...         ...   ...       ...  ...    ...   ...    ...  ...
5.872118    1.0  1.60       NaN  1.6  1.600  1.60  1.600  1.6
5.894403    1.0  1.50       NaN  1.5  1.500  1.50  1.500  1.5
5.897154    2.0  0.40  0.282843  0.2  0.300  0.40  0.500  0.6
5.948035    1.0  1.90       NaN  1.9  1.900  1.90  1.900  1.9
6.236370    1.0  0.50       NaN  0.5  0.500  0.50  0.500  0.5

[126 rows x 8 columns]

In [47]:
accommodation_types = ["Hotel", "Apartment"]

In [48]:
models = []
for atype in accommodation_types:
    models.append(
        smf.ols(
            "lnprice ~ lspline(distance,2)",
            data=data.loc[lambda x: x["accommodation_type"] == atype],
        ).fit(cov_type="HC1")
    )

In [49]:
stargazer = Stargazer(models)
stargazer.covariate_order(
    ["lspline(distance, 2)[0]", "lspline(distance, 2)[1]", "Intercept"]
)
stargazer.rename_covariates(
    {
        "Intercept": "Constant",
        "lspline(distance, 2)[0]": "Distance spline <2",
        "lspline(distance, 2)[1]": "Distance spline 2–7",
    }
)
stargazer.custom_columns(accommodation_types, [1, 1])
stargazer.show_model_numbers(False)
HTML(stargazer.render_html())